<h1>Form "<%= @form.name %>"</h1>

<table>
     <tr>
          <td><span style="color: green; font-weight: bold; font-style: italic;">Accepted</span></td>
          <td><span style="color: #007cff; font-weight: bold; font-style: italic;">Waitlisted</span></td>
          <td><span style="color: red; font-weight: bold; font-style: italic;">Rejected</span></td>
     </tr>
     <tr>
          <td>
               <% @form.heap.accepted_indices.split(",") do |i| %>
                    <%= link_to @csv[i.to_i][1], heap_path(@form.id, :page => i.to_i+1) %><br>
               <% end %>
          </td>
          <td>
               <% @form.heap.waitlisted_indices.split(",") do |i| %>
                    <%= link_to @csv[i.to_i][1], heap_path(@form.id, :page => i.to_i+1) %><br>
               <% end %>
          </td>
          <td>
               <% @form.heap.rejected_indices.split(",") do |i| %>
                    <%= link_to @csv[i.to_i][1], heap_path(@form.id, :page => i.to_i+1) %><br>
               <% end %>
          </td>
     </tr>
</table>
<div style="background-color: #000; height: 1px; width: 250px; margin: 20px 0;"></div>
<%= link_to "Start Heaping", heap_path(@form.id, :page => 1) %>

<h2 style="color: red; margin-bottom: 0; margin-top: 25px; font-style: italic;">Delete</h2>
This action is irreversible.
<%= button_to "Delete", form_path(@form.id), data: { turbo_confirm: "Are you sure you want to delete this form?\n\n This action is irreversible." }, method: :delete %>

